<section id="profile" class="tl-Contents tl-Contents__profile js-hops">
  <div class="tl-Contents__Inner">
    <h2 class="tl-Contents__Title__h2">プロフィール</h2>
    <div class="tl-Contents__profile" data-profileArea>
      <div class="tl-Contents__profile__wrapper">
        <div class="tl-Contents__profile__photo">
          <figure>
            <img src="../images/lp01.webp" alt="オバラさんの写真">
            <figcaption>オバラ</figcaption>
            <blockquote>
              猫が好き。漫画が好き。バイクが好き。史跡巡りが好き。技術のキャッチアップを忘れずに。
            </blockquote>
          </figure>
        </div>
        <div class="tl-Contents__profile__text">
          <h3 class="tl-Contents__profile__title">略歴</h3>
          <ul class="tl-Contents__plan" aria-labelledby="略歴">
            <li class="tl-Contents__plan__item">
              <span class="tl-Contents__plan__circle"></span>
              <div class="tl-Contents__plan__textbox">
                <p class="tl-Contents__plan__text">
                  エディトリアルデザイン制作会社</span>
                <span class="tl-Contents__plan__time">2002.04 - 2003.09</p>
              <p class="tl-Contents__plan__subtext">カー雑誌やバイク雑誌の
                エディトリアルデザイナーとして就業</p>
              </div>
            </li>
            <li class="tl-Contents__plan__item">
              <span class="tl-Contents__plan__circle"></span>
              <div class="tl-Contents__plan__textbox">
                <p class="tl-Contents__plan__text">
                  印刷会社<span class="tl-Contents__plan__time">2003.11 - 2013.10</span>
                </p>
                <p class="tl-Contents__plan__subtext">DTPオペレーターとして就業
                  印刷物出荷における責任者として品質と
                  速度を両立させ評価を得る</p>
              </div>
            </li>
            <li class="tl-Contents__plan__item">
              <span class="tl-Contents__plan__circle"></span>
              <div class="tl-Contents__plan__textbox">
                <p class="tl-Contents__plan__text">
                  専門学校　Webプログラミングコース<span class="tl-Contents__plan__time">2013.11 - 2014.08</span>
                </p>
                <p class="tl-Contents__plan__subtext">
                  HTML,CSS,JavaScript,PHPを学習</p>
              </div>
            </li>
            <li class="tl-Contents__plan__item">
              <span class="tl-Contents__plan__circle"></span>
              <div class="tl-Contents__plan__textbox">
                <p class="tl-Contents__plan__text">
                  Web制作会社<span class="tl-Contents__plan__time">2014.09 - 2016.02</span>
                </p>
                <p class="tl-Contents__plan__subtext">
                  新規構築案件・運用案件において、
    デザイン・コーディングを担当</p>
              </div>
            </li>
            <li class="tl-Contents__plan__item">
              <span class="tl-Contents__plan__circle"></span>
              <div class="tl-Contents__plan__textbox">
                <p class="tl-Contents__plan__text">
                  Webマーケティング会社<span class="tl-Contents__plan__time">2016.03 - 現職</span>
                </p>
                <p class="tl-Contents__plan__subtext">
                  ECサイト案件や学習サイト、ゲーム会社において
    Webアプリケーション開発、コーディングを担当</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="tl-Contents__profile__text">
          <h3 class="tl-Contents__profile__title">取得資格</h3>
          <ul class="tl-Contents__Qualifications" aria-labelledby="取得資格">
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  普通自動車第一種運転免許</span>
                <span class="tl-Contents__plan__time">1998年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  普通自動二輪車免許</span>
                <span class="tl-Contents__plan__time">2008年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  Webクリエイター能力認定試験エキスパート上級</span>
                <span class="tl-Contents__plan__time">2013年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  色彩検定　2級</span>
                <span class="tl-Contents__plan__time">2017年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  Webライティング検定　1級</span>
                <span class="tl-Contents__plan__time">2017年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  Web検定Webディレクター</span>
                <span class="tl-Contents__plan__time">2018年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  Web検定Webアナリスト</span>
                <span class="tl-Contents__plan__time">2019年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  HTML5プロフェッショナル　レベル1</span>
                <span class="tl-Contents__plan__time">2020年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  統計検定　4級</span>
                <span class="tl-Contents__plan__time">2021年取得</p>
              </div>
            </li>
            <li class="tl-Contents__Qualifications__item">
              <div class="tl-Contents__Qualifications__textbox">
                <p class="tl-Contents__plan__text">
                  HTML5プロフェッショナル　レベル2 最上位</span>
                <span class="tl-Contents__plan__time">2021年取得</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>