<section id="website" class="tl-ContentsSwiper js-hops" aria-label="プロジェクトギャラリー">
  <div class="tl-Contents__Inner">
    <div class="tl-Contents__Title__area" aria-labelledby="projectsSection">
      <h2 class="tl-Contents__Title__h2" id="projectsSection">制作に携わってきたLP、WEBサイト</h2>
    </div>
    <div class="swiperCard swiper__section">
      <div class="swiper__inner" aria-live="polite">
        <div class="swiper">
          <div class="swiper-wrapper">
            
            
            <a href="https://aulatechnology.jp/" target="_blank" aria-label="株式会社アウラテクノロジー" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover" role="img" aria-label="株式会社アウラテクノロジーのスクリーンショット">
                  <img src="../images/img_aula.webp" alt="株式会社アウラテクノロジーのスクリーンショット">
                </div>
                <div class="slide-content">
                  <h3 class="slide-title">株式会社アウラテクノロジー</h3>
                  <p>フロントエンド担当：wordpress案件</p>
                </div>
              </article>
            </a>
            <a href="https://tsurukeieikyo.jp/" target="_blank" aria-label="都留の会社Navi" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover" role="img" aria-label="都留の会社Naviのスクリーンショット">
                  <img src="../images/img_tsurukeikyo.jpg" alt="都留の会社Naviのスクリーンショット">
                </div>
                <div class="slide-content">
                  <h3 class="slide-title">都留の会社Navi</h3>
                  <p>フロントエンド担当：wordpress案件</p>
                </div>
              </article>
            </a>
            <a href="https://nicot.site/" target="_blank" aria-label="都留市共有スペースnicot" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover" role="img" aria-label="都留市共有スペースnicotのスクリーンショット">
                  <img src="../images/img_nicot.png" alt="都留市共有スペースnicotのスクリーンショット">
                </div>
                <div class="slide-content">
                  <h3 class="slide-title">都留市共有スペースnicot</h3>
                  <p>フロントエンド担当：wordpress案件</p>
                </div>
              </article>
            </a>
            <a href="https://civictech.school/" target="_blank" aria-label="都留シビックテックスクールLP" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover" role="img" aria-label="都留シビックテックスクールLPのスクリーンショット">
                  <img src="../images/img_civictech.webp" alt="都留シビックテックスクールLPのスクリーンショット">
                </div>
                <div class="slide-content">
                  <h3 class="slide-title">都留シビックテックスクールLP</h3>
                  <p>フロントエンド担当：LP案件</p>
                </div>
              </article>
            </a>
            <a href="https://tsurulabo.jp/" target="_blank" aria-label="つるラボ コーポレートサイト" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover" role="img" aria-label="つるラボ コーポレートサイトのスクリーンショット">
                  <img src="../images/img_tsurulabo.jpg" alt="つるラボ コーポレートサイトのスクリーンショット">
                </div>
                <div class="slide-content">
                  <h3 class="slide-title">つるラボ　コーポレートサイト</h3>
                  <p>フロントエンド担当：wordpress案件</p>
                </div>
              </article>
            </a>
            <a href="https://tsuru-e.com/" target="_blank" aria-label="つるエネ コーポレートサイト" class="swiper-slide">
              <article class="slide">
                <div class="slide-media img-cover" role="img" aria-label="つるエネ コーポレートサイトのスクリーンショット">
                  <img src="../images/img_tsuruene.png" alt="つるエネ コーポレートサイトのスクリーンショット">
                </div>
                <div class="slide-content">
                  <h3 class="slide-title">つるエネ　コーポレートサイト</h3>
                  <p>フロントエンド担当：wordpress案件</p>
                </div>
              </article>
            </a>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>
