<section id="website" class="tl-Contents bg_nyantaros js-hops" aria-label="プロジェクトニャンタロウ">
  <div class="tl-Contents__Inner">
    <video src="../images/nyantaros.mp4" autoplay loop muted playsinline poster="../images/sub14.webp"></video>
  </div>
</section>