<footer class="l-footer">
  <div class="footItem">
    <p class="sub-copyright">
      &copy; ObaLAB Co., Ltd.
    </p>
  </div>
</footer>
<button id="js-pagetop" class="button-020 p-pagetop js-pagetop" aria-label="scrollTop">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="24">
    <path fill="#ffffff" d="m12.9 5.1 10.7 10.7c.5.5.5 1.4 0 1.9l-1.2 1.2c-.5.5-1.3.5-1.9 0L12 10.4l-8.5 8.5c-.5.5-1.3.5-1.9 0L.4 17.7c-.5-.5-.5-1.4 0-1.9L11.1 5.1c.5-.5 1.3-.5 1.8 0z" />
  </svg>
</button>