<header class="l-header stickyitem">
  <div class="l-header__wrap">
    <h1 class="headItem">Obara.Portfolio</h1>
    <div class="headItem__Menu__wrapper">
      <div class="headItem__Menu">
        <div data-menuBtn="menuBtn" class="c-menu-btn">
          <div class="openbtn-area"><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="l-header__nav" data-navArea="navArea">
  <nav class="l-header__nav__area">
    <ul class="l-header__nav__list">
      <li class="l-header__nav__listItem"><a href="#website">制作に携わってきたLP、WEBサイト</a></li>
      <li class="l-header__nav__listItem"><a href="#form">お問い合わせフォーム</a></li>
      <li class="l-header__nav__listItem"><a href="#profile">プロフィール</a></li>
    </ul>
  </nav>
</div>