<section class="st-KvContainer --lp">
  <div class="st-KvContainer__lpWrapper">
    <div class="st-KvContainer__lpBlock">
      <div class="swiper slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="../images/lp02.webp" alt="猫">
          </div>
          <div class="swiper-slide">
            <img src="../images/lp03.webp" alt="猫">
          </div>
          <div class="swiper-slide">
            <img src="../images/lp01.webp" alt="猫">
          </div>
          <div class="swiper-slide">
            <img src="../images/lp04.webp" alt="猫">
          </div>
          <div class="swiper-slide">
            <img src="../images/lp05.webp" alt="猫">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <button class="js-modal-open st-KvContainer__seeallBtn" data-modal-target="#modal1">全ての写真を見る</button>

    </div>
    <div class="swiper slider-thumbnail">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <img src="../images/lp02.webp" alt="猫">
        </div>
        <div class="swiper-slide">
          <img src="../images/lp03.webp" alt="猫">
        </div>
        <div class="swiper-slide">
          <img src="../images/lp01.webp" alt="猫">
        </div>
        <div class="swiper-slide">
          <img src="../images/lp04.webp" alt="猫">
        </div>
        <div class="swiper-slide">
          <img src="../images/lp05.webp" alt="猫">
        </div>
      </div>
    </div>
  </div>
</section>
<div role="modal" class="modal js-modal" id="modal1">
  <div class="modal-container">
    <!-- モーダルを閉じるボタン -->
    <button class="modal-close js-modal-close">×</button>
    <!-- モーダル内部のコンテンツ -->
    <div class="modal-content">
      <div id="gg-screen" hidden></div>
      <div class="gg-box">
        <img src="../images/sub01.webp" width="120" alt="猫">
        <img src="../images/sub02.webp" width="120" alt="猫">
        <img src="../images/sub03.webp" width="120" alt="猫">
        <img src="../images/sub04.webp" width="120" alt="猫">
        <img src="../images/sub05.webp" width="120" alt="猫">
        <img src="../images/sub06.webp" width="120" alt="猫">
        <img src="../images/sub07.webp" width="120" alt="ベルセルク展">
        <img src="../images/sub08.webp" width="120" alt="渋谷スカイ">
        <img src="../images/sub09.webp" width="120" alt="川">
        <img src="../images/sub10.webp" width="120" alt="つばめ">
        <img src="../images/sub11.webp" width="120" alt="山頂からの眺め">
        <img src="../images/sub12.webp" width="120" alt="猫">
        <img src="../images/sub13.webp" width="120" alt="猫">
        <img src="../images/sub14.webp" width="120" alt="猫">
        <img src="../images/sub15.webp" width="120" alt="鋸山">
      </div>
    </div>
  </div>
</div>